<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#/Bibber">Biberon</a>
        </h4>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#/History">Historique</a>
        </h4>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#/Poop">Caca</a>
        </h4>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#/Admin">Admin</a>
        </h4>
    </div>
</div>
