<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Horaire
            </h4>
            <input type="date" class="form-control" [(ng-model)]="currentDate">
            <input type="time" class="form-control" [(ng-model)]="currentTime">
        </div>
        <div class="panel panel-success" *ng-if="!supo">
            <div class="panel-heading">
                <h4 class="panel-title" (click)="addSupo()">
                    Sans supo
                </h4>
            </div>
        </div>
        <div class="panel panel-danger" *ng-if="supo">
            <div class="panel-heading">
                <h4 class="panel-title" (click)="removeSupo()">
                    Avec supo
                </h4>
            </div>
        </div>
    </div>

    <button class="btn btn-default" style="margin-top: 10px" (click)="poop()" data-toggle="modal" data-target="#successmodal">Caca!!!</button>
    <!-- Modal -->
    <div id="successmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header alert-success">
                    <button type="button" class="close" data-dismiss="modal" (click)="reset()">&times;</button>
                    <h4 class="modal-title">Sauvegarde</h4>
                </div>
                <div class="modal-body">
                    <p>Caca sauvegardé</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reset()">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>

    <div>Dernier caca il y a {{getDelay()}} </div>

<hr>

<button class="btn btn-default" style="margin-bottom: 10px" (click)="getPoops()">Refresh</button>

<div class="panel-group">
    <div class="panel panel-default" *ng-for="#poop of poops">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{prettyPrint(poop)}}
            </h4>
        </div>
    </div>
</div>
