<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [router-link]="['/Home']">Accueil</a>
            <a class="navbar-brand" [router-link]="['/Bibber']">Biberon</a>
            <a class="navbar-brand" [router-link]="['/History']">Historique</a>
            <a class="navbar-brand" [router-link]="['/Poop']">Caca</a>
            <a class="navbar-brand" [router-link]="['/Admin']">Admin</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

